.profile {
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.profile-header {
  font-size: 30px;
}

.profile-pic {
  max-width: 40%;
  box-shadow: 2px 2px 7px rgb(209, 209, 209);
}

.profile-content {
  margin: 1.5rem;
  font-family: 'Roboto', sans-serif;
  color: rgb(97, 97, 97);
}