.projects {
}

.projects-title {
  font-size: 2rem;
  text-align: center;
}

.project-card {
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 6px rgb(39, 39, 39);
  margin: 0rem 3rem 1rem 3rem;
  background-color: #c8d2d3;
  padding: 1.5rem;
}

.project-image {
  width: 60vw;
  box-shadow: 3px 3px 6px rgb(177, 177, 177);
}

.project-body {
  width: 60vw;
}

.project-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  font-size: large;
  font-weight: 500;
  color: #2B2D42;
}

.project-description {
  padding-top: 0.5vh;
  color: #2B2D42;
}

/* Tablet */
@media (min-width: 480px) {
  .projects-title {
    font-size: 3rem;
    text-align: left;
    margin-left: 5vh;
  }

  .grid {
    display: grid;
    grid-template-columns: 40vw 40vw;
    gap: 10vw;
    align-self: center;
  }

  .project-image {
    width: 35vw;
  }

  .project-card {
    width: 35vw;
  }

  .project-body {
    width: 35vw;
  }

  .skills-banner {
    height: 120%;
  }
}