.skills-banner {
  width: 100%;
  height: 40%;
  top: 115vh;
}

.skills-header {
  color: #23CE6B;
}

.skills-list {
  margin: 0rem 3rem 2rem 3rem;
  align-items: baseline;
  font-size: 20px;
  background-color: #5F6A75;
  box-shadow: 2px 2px 3px rgb(39, 39, 39);
  padding: 1rem;
  gap: 1vh;
}

.skill {
  color: #23CE6B;
}

/* Tablet */
@media (min-width: 480px) {
  .skills-header {
    margin-top: 2vh;
    font-size: 50px;
  }

  .skills-list {
    margin-top: 1.5vh;
  }

  .skills-banner {
    width: 100%;
    top: 102vh;
  }  
}

/* Desktop */
@media (min-width: 1000px) {
  .skills-header {
    margin-top: 6vh;
  }

  .skills-list {
    margin: 1.5vh 30vw 20vh 30vw; 
  }

  .skills-banner {
    width: 100%;
    top: 103vh;
  }  
}

